{% extends 'base.html' %}
{% load static %}
{% block content %}

<header>
    <div class="container">
        <h1 class="welcome-message">مرحبًا بكم في HegazySport!</h1>
        <img src="{% static 'images/logo.png' %}" alt="logo" style="max-width: 150px;">
        <h2>مباريات اليوم وبكرة</h2>
    </div>
</header>

<section class="matches">
    <div class="container">

        <h2>مباريات اليوم</h2>
        {% if today_matches %}
            {% for match in today_matches %}
                <div class="match-card">
                    <div class="teams">
                        <div class="team">
                            <img src="{{ match.team1.logo.url }}" alt="{{ match.team1.name }}" width="60">
                            <p>{{ match.team1.name }}</p>
                        </div>
                        <div class="vs">
                            <strong>{{ match.match_time|time:"H:i" }}</strong>
                            <p>vs</p>
                        </div>
                        <div class="team">
                            <img src="{{ match.team2.logo.url }}" alt="{{ match.team2.name }}" width="60">
                            <p>{{ match.team2.name }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>لا توجد مباريات اليوم.</p>
        {% endif %}

        <h2 class="mt-5">مباريات الغد</h2>
        {% if tomorrow_matches %}
            {% for match in tomorrow_matches %}
                <div class="match-card">
                    <div class="teams">
                        <div class="team">
                            <img src="{{ match.team1.logo.url }}" alt="{{ match.team1.name }}" width="60">
                            <p>{{ match.team1.name }}</p>
                        </div>
                        <div class="vs">
                            <strong>{{ match.match_time|time:"H:i" }}</strong>
                            <p>vs</p>
                        </div>
                        <div class="team">
                            <img src="{{ match.team2.logo.url }}" alt="{{ match.team2.name }}" width="60">
                            <p>{{ match.team2.name }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>لا توجد مباريات غدًا.</p>
        {% endif %}

    </div>
</section>

{% endblock %}
